//======================
// Variables
//======================


// Class Prefix
//======================
$prefix: material;


// For Background Classes
//======================
$bg: bg;


// Class Text Classes
//======================
$txt: tx;
